

.body {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.card-body{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
}
.navbar-brand img {
    width: 124px;
    height: 36.53px;
    margin-top: 0.2cm
}
.navbar-nav .nav-link {
    font-weight: 600;
    color: #000;
    font-size: 14px;
}

.navbar-nav .nav-link:hover {
    color: #ffb619;

}


.dropdown-menu.dropdown-large {
    width: 100vh;
   
}

.dropdown-menu h6 {
    font-weight: bold;
    font-size: 25px;
    margin: 0;
    padding: 0.5rem 1.5rem;
    color: #6c757d;
}

.dropdown-item {
    font-weight: 400;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
    color: #000;
}

.dropdown-menu .dropdown-item:hover {
    color: #ffb619;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;

}

.grid-item {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    list-style: none;
    padding: 20px;
    text-align: center;
}

.icon-link {
    text-align: center;
    display: block;
    font-size: 1.25rem;
    color: #000;
    text-decoration: none;
    margin-top: 10px;
    
}

.card-image-top {
    width: 265.5;
    height: 196.88;
}

.card-body {
    position: relative;
    width: 100%;
    height: auto; 
    
  }
  
  .card-body img {
    width: 100%;
    height: auto;
  }
/*slider*/
  .card-body h1,
  .card-body ul,
  .card-body button {
    position: relative;
    /*transition: transform 0.5s ease;*/
  }
  .feature-icon .zoom{
    transition : transform 1s

  }
  .feature-icon:hover{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    transition:ease-out;
    transition-duration: 1s;
  }
  .feature::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    background-color: transparent;
  }
  .card-body:hover h1 {
    color:#ffb619
  }
  .card .zoom
     {
      transition: transform 1s; /* Animation */
    }
    
    .zoom:hover {
      transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    transition: ease-in-out;
    transition-duration: 1s;
    }
  
  
  /*.card-body:hover ul {
    transform: translateY(30px);
  }
  
  .card-body:hover button {
    transform: translateY(30px);
  }*/
  .cb{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  .categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s;
}

.category:hover {
    transform: scale(1.05);
}

.icon {
    font-size: 40px;
    margin-bottom: 10px;
}

  
/*.top-categories h2 {
    margin-bottom: 20px;
  }*/
  .certificates{
    text-align:center;
    padding:20px;
  }
  /*.hero-section {
    background-image: url('https://images.unsplash.com/photo-1544716278-ca5e3f4abd8c?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    
    
}*/

  .background-container {
    background-image: url('https://eduma.thimpress.com/wp-content/uploads/2022/11/counterbox-new-2.jpg');
    background-position: center; 
    padding-top: 100px;
    background-color: #000000;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    align-items: center;
    background-repeat: no-repeat;
}
.background-text{
  font-weight: bold;
  font-size: larger;
}
.jumbotron-image{
  border-radius: 50%;
}


/*.hero-section {
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  position: relative;
  
}*/
.hero-section{
  background-image: url('https://eduma.thimpress.com/wp-content/uploads/2022/08/banner-courses-hub.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: auto;
}
.hero-section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
}
.hero-abc::placeholder{
  color: white;
}
.hero-content{
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.hero-title{
  color: rgb(255, 255, 255)
}


.footer{
  background-color:#363535;
}
#navbar-nav{
  background-color:#363535;
}
.form-control{
  width: 100%;
}
/*.toolbar{
  width: 100%;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #222222;
  color: #ababab;
  }*/
.toolbar{
  list-style-type: none;
 
}
a{
  text-decoration: none;
}
.tang {
  background-color: white;
  color: #5a5a5a;
  font-weight: 800;
  box-shadow: -3px 2px 6px -1px rgba(0, 0, 0, .14);
  font-size: 14px;
  text-align: center;
  padding: 3px 0;
  fill: #5a5a5a;
}

.tang:hover {
  background-color: #5a5a5a;
  color: white;
  fill: white;
}
.body{
  overflow: hidden;
}

.icon-class{
  margin: 0px 5px 0px 0px;
}
.reg-log{
  justify-content: flex-end;
}
.navbar-nav{
  justify-content: flex-end;
}

.courses-searching form{
  
   
    border-style: solid;
    border-width: 2px 00px 2px 2px;
    border-color: #FFFFFF;
    border-radius: 4px 0px 0px 4px;

}


.d-flex.reg-log {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
 .divider{
  width: 2px;
 }
 .vl {
  border-left: 6px solid rgb(227, 232, 227);
  height: 500px;
}
/*Owl-carosuel*/
    .custom-nav {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }

    .custom-nav button {
      color: #6d6d6d;
      padding: 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .custom-nav button:hover {
      background-color: #333 !important;
      color: white;
    }
    .texts{
      text-align: center;
    }
    .slider {
      position: relative;
      padding: 35px;
      overflow: hidden; /* Hide scrollbar */
  }
  
  
