.navbar-brand img {
    width: 124px;
    height: 36.53px;
    margin-top: 0.2cm
}


.navbar-nav .nav-link {
    font-weight: 600;
    color: #000;
    font-size: 14px;
}

.navbar-nav .nav-link:hover {
    color: #ffb619;

}

.navbar-nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dropdown-menu.dropdown-large {
    width: 800px;
   
}

.dropdown-menu h6 {
    font-weight: bold;
    font-size: 25px;
    margin: 0;
    padding: 0.5rem 1.5rem;
    color: #6c757d;
}

.dropdown-item {
    font-weight: 400;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
    color: #000;
}

.dropdown-menu .dropdown-item:hover {
    color: #ffb619;
}

.dropdown-menu.dropdown-large.dropdown-course {
    width: 950px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;

}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.icon-link {
    text-align: center;
    display: block;
    font-size: 1.25rem;
    color: #000;
    text-decoration: none;
    margin-top: 10px;
    
}

.card-image-top {
    width: 265.5;
    height: 196.88;
}
.card-body {
    position: relative;
    width: 265.5px;
    height: 400px; 
    
  }
  
  .card-body img {
    width: 100%;
    height: auto;
  }
/*slider*/
  .card-body h1,
  .card-body ul,
  .card-body button {
    position: relative;
    transition: transform 0.5s ease;
  }
  
  
  .card-body:hover h1 {
    transform: translateY(30px);
  }
  
  .card-body:hover ul {
    transform: translateY(30px);
  }
  
  .card-body:hover button {
    transform: translateY(30px);
  }
  .grid-container {
    display: grid;
    grid-template-columns:  auto auto auto;
    gap: 20px;
    justify-items: center;
    align-items: center;
  }
  .grid-item svg {
    max-width: 50px;
    
  }
  .grid-item:hover {
    transform: translateY(-10px);
    
  }
  .grid-item button {
    display: block;
    font-size: 16px;
    font-weight:bold;
  }
  .grid-item {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  .top-categories {
    text-align: center;
    padding: 20px;
    background-color:#f8f9fb
  }
  
.top-categories h2 {
    margin-bottom: 20px;
  }
  .certificates{
    text-align:center;
    padding:20px;
  }
  /*.hero-section {
    background-image: url('https://images.unsplash.com/photo-1544716278-ca5e3f4abd8c?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    
    
}*/

  .background-container {
    background-image: url('./dried-flowers-notebook.2jpg.jpg');
    background-size:100%;
    background-position: center; 
    padding-top: 100px;
    
    height: 377px;; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    align-items: center;
}
.background-text{
  font-weight: bold;
  font-size: larger;
}
.jumbotron-image{
  border-radius: 50%;
}


/*.hero-section {
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  position: relative;
  
}*/
.hero-section{
  background-image: url('https://eduma.thimpress.com/wp-content/uploads/2022/08/banner-courses-hub.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height:100vh;
  
}
.hero-content{
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.hero-title{
  color: rgb(255, 255, 255)
}
.container-categories{
  font-family:cursive
}

.footer{
  background-color:#363535;
}
#navbar-nav{
  background-color:#363535;
}
.form-control{
  width: 100%;
}
/*.toolbar{
  width: 100%;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #222222;
  color: #ababab;
  }*/
.toolbar{
  list-style-type: none;
 
}
a{
  text-decoration: none;
}
.tang {
  background-color: white;
  color: #5a5a5a;
  font-weight: 800;
  box-shadow: -3px 2px 6px -1px rgba(0, 0, 0, .14);
  font-size: 14px;
  text-align: center;
  padding: 3px 0;
  fill: #5a5a5a;
}

.tang:hover {
  background-color: #5a5a5a;
  color: white;
  fill: white;
}
.body{
  overflow: hidden;
}

.icon-class{
  margin: 0px 5px 0px 0px;
}
.reg-log{
  justify-content: flex-end;
}
.navbar-nav{
  justify-content: flex-end;
}
